
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.28em;
	width: 300px;
	margin: 0;
	padding: 10px;
}

p.info {
	color: #777;
	font-size: 0.7em;
	font-family: Arial;
	text-align: center;
	margin: 10px;
}

table {
	width: 300px;
	font-family: Courier;
	border-collapse: collapse;

	.monthname {
		color: blue;
	}

	.dayname {
		background-color: #eee;
	}

	.weeknumber {
		padding-right: 9px;
		background-color: #eee;
	}

	.passed {
		color: #eaeaea !important;
	}

	td {
		margin: 0;
		padding: 0;
		text-align: center;
		border: 1px solid #eee;

		p {
			margin: 3px 5px 3px 5px;
		}
	}

	.red {
		color: red;
	}

	.outsider {
		color: #eaeaea;
	}
}
